
.case-study h1,
.case-study h2, 
.case-study p, 
.case-study a, 
.case-study ul {
    color: rgb(18, 36, 49);
    font-family: 'Poppins', sans-serif;
}

.case-study--title {
    margin-bottom: 3rem;
}

.case-study h2 {
    font-weight: 100;
    letter-spacing: -1px;
}

a {
    font-weight: 300;
}

a:hover {
    color: rgba(18, 36, 49, 0.7);
}

h1 {
    display: flex;
    justify-content: space-between;
}

.link-external-website {
    display: inline-block;
    border: 1px solid rgb(18, 36, 49);
    color: rgb(18, 36, 49);
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    text-decoration: none;
}

.link-external-website svg {
    font-size: 0.7rem;
}

.link-go-back {
    position: absolute;
    top: 4.7rem;
    left: 5rem;
    font-size: 1.6rem;
}
