section {
    position: relative;
    padding: 160px 0;
    min-height: 100vh;
    height: 100%;
    text-align: center;
    color: rgb(18, 36, 49);
}

section h1 {
    margin-bottom: 4rem;
    font-weight: 800;
    color: rgb(18, 36, 49);
}

section h3 {
    display: inline-block;
    width: 75%;
    font-weight: 200;
    color: rgb(18, 36, 49);
}

section b {
    font-weight: 500;
    color: rgb(18, 36, 49);
}

section .subsection-center {
    text-align: center;
}

section .subsection-left {
    text-align: left;
}

section .subsection-right {
    text-align: right;
}

section .top-spacing {
    margin-top: 2rem;
}

section .top-spacing-6 {
    margin-top: 6rem;
}

section p {
    display: inline-block;
    width: 75%;
    font-family: '-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif';
    font-weight: 200;
    color: rgb(18, 36, 49);
}

section .project {
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: -4rem;
    margin-right: -4rem;
    border-radius: 4px;
}

@media(max-width: 768px) {
    section .project {
        margin: 0;
    }
}

section .project.movieo {
    background: -webkit-radial-gradient(center, ellipse cover, #202b3d, #141b26 100%);
}

section .project.ck-marketplace {
    background: -webkit-radial-gradient(center, ellipse cover, #3ddb94, #25ca7f 100%);
}

section .project .project-description {
    padding-bottom: 1rem;
    font-family: '-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif';
    text-align: center;
}

section .project h3 {
    width: 100%;
    color: rgba(255, 255, 255, 1);
}

section .project a {
    position: absolute;
    bottom: 10%;
    left: 25%;
    right: 25%;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    font-size: 1.25rem;
    background: rgba(255, 255, 255, 0.75);
    color: rgb(18, 36, 49);
    border: 1px solid rgb(18, 36, 49);
    border-radius: 3px;
}

section .project.project.ck-marketplace a {
    /* background: rgba(61, 219, 148, 0.7); */
    border: 1px solid rgba(61, 219, 148, 0.7);
    color: rgb(18, 36, 49);
}

section .project a:hover {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 1);
}

section .project.project.ck-marketplace a:hover {
    border: 1px solid rgba(61, 219, 148, 1);
}

section .project-img-wrapper {
    text-align: center;
}

section .project img {
    margin: 0;
    width: 75%;
}

section .project p {
    width: 100%;
    padding: 0;
    font-weight: 100;
    color: rgba(255, 255, 255, 1);
}

@keyframes translate-up-down {
    0%   {top: 0px;}
    50%  {top: 150px;}
    100% {top: 0px;}
  }

.parallax-element {
    margin-top: 100px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    width: 100px;
    height: 100px;
    background: rgb(18, 36, 49);
    position: relative;

    transition: all 24s ease-in-out;
    animation: translate-up-down 24s infinite;
}
